html { 
    height: 100%;
}
body { 
    min-height: 100%;
    padding: 0;
    margin: 0;
    position: relative; 
    font-family: 'Roboto', sans-serif;
}

body::after {
    content: '';
    display: block;
    height: 100px;
}

.textarea, select, input, button { 
    outline: none;
}

.header {
    background-color: #dddddd;
    height: 100px;
}

.footer {
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    background-color: #dddddd;
    height: 100px;
}

.content {
    width: 900px;
    margin: 0 auto;
}

.content-header, .content-search {
    padding: 0 45px;
}

form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #dddddd;
    float: left;
    width: 87%;
    background: #ffffff;
    border-right: none;
    border-radius: 5px 0 0 5px;
  }
  
form.search button {
    float: left;
    width: 10%;
    padding: 10px;
    color: grey;
    font-size: 17px;
    border: 1px solid #dddddd;
    border-left: none;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 0 5px 5px 0;
}
  
form.search::after {
    content: "";
    clear: both;
    display: table;
}

.slider {
    display: flex;
    margin: 100px 0;
    justify-content: center;
}

.content-news {
    display: none;
    width: 800px;
    height: 350px;
}

.content-news-img {
    height: 350px;
    flex-basis: 50%;
    background-size: cover;
    background-position: center;
    border-radius: 5px 0 0 5px;
}

.content-news-text {
    flex-basis: 50%;
    padding: 0 20px;
    background-color: #dddddd;;
    position: relative;
    border-radius: 0 5px 5px 0;
}

.notfound {
    font-size: 25px;
    text-align: center;
    margin-top: 150px;
    color: #d40101;
}

.link {
    text-decoration: underline;
    color: #000000;
    position: absolute;
    bottom: 20px;    
}

.arrow-right {
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

.arrow-left {
    display: flex;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}

.active {
    display: flex;
}

.hide {
    display: none;
}

.show {
    display: flex;
}